table {
    /*Border For Display Tables*/
    border-collapse: collapse;
    border: 1px solid black;

    /*Width For Display Tables*/
    table-layout: fixed;   
}

th,td{
    /*Border For Display Tables*/
    border: 1px solid black;
    padding: 2px;
    
}

textarea{
    vertical-align: top;
}

/*For The Button To Delete The Table Rows On Click*/
.deleteRow{
    color: red;
}



/*For The Container To Hold The Add Unit Buttons*/
.addButtonBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButton{
    color: green;
    margin-right: 5;
    margin-left: 5;
}

/*shrink input fields that do not need their full size*/
.shrinkInput{
    box-sizing: border-box;
    width: 6ch;
    margin: auto;
}




