table {
    /*Border For Display Tables*/
    border-collapse: collapse;
    border: 1px solid black;

    /*Width For Display Tables*/
    table-layout: fixed;   
}

th,td{
    /*Border For Display Tables*/
    border: 1px solid black;
    padding: 2px;
    
}

/*shrink input fields that do not need their full size*/
.shrinkInput{
    box-sizing: border-box;
    width: 7ch;
    margin: auto;
}

textarea{
    vertical-align: top;
}

/*For The Button To Select The Table Rows To Be Deleted On Click*/
.deleteRow{
    color: red;
}

/*For The Buttons That Add Units To The Table (and the form)*/
.addButton{
    color: green;
    margin-right: 5;
    margin-left: 5;
}


/*For The Container To Hold The Add Unit Buttons*/
.addButtonBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-bottom:10px;
}

/*For The Container of Both Form Submit Buttons*/
.submitButtonBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 35px;
    margin-top: 0px;
}

#saveSubmit{
    background-color: rgb(39, 138, 39);
    height: 50px;
    width: 175px;
}

#deleteSubmit{
    background-color: rgba(196, 12, 12, 0.685);
    height: 50px;
    width: 175px;
}



