<!--
Author: Scott Field
Date: 5/26/2024
Version: 1.0
Purpose:
Allow the user to create a faction and its units
-->
<html lang="en">
<!--Get the static folder-->
{% load static %}
<!--Get The CSS styling-->
<link rel="stylesheet" href = "{%static 'saga/style.css'%}">

<head>
    <title>Saga Faction Create/Edit</title>
    <meta charset="utf-8">
    <meta name = "description" content = "The Saga Faction Create/Edit page is to create or edit a faction">
    <script type = "module" src = {% static 'saga/create.js'%}></script>
</head>

<body>
    <!--Navigation Bar-->
    <nav>
        <div class = "navBox">
            <a href = "{% url 'saga:index' %}" >
                <button> Home Page </button>
            </a>
        </div>
    </nav>
    <!--If a Faction Has Not Been Provided, The Page Is For Creating-->
    <h1>Create Faction</h1>
    
    <!--Form Start-->
    <form id = "factionForm" method = "post">
        <!--Get The Cross-Site Request Forgery Prevention Token (Necessary Inside Form Otherwise Post Request Will Be Blocked)-->
        {% csrf_token %}
        <!--Faction Form Fields-->
        <label for = "fName">Name:</label>
        <!--autoescape to read spaces in the faction name-->
        <input type = "text" id = "fName" name = "fName" value = "">
        <br><br>
        <div style="display: flex; flex-direction: column;">
            <label for = "fDescription">Description:</label>
            <textarea id = "fDescription" name = "fDescription" rows = "5", cols = "30"></textarea>
            <br>
            <label for = "fSpecial">Special Rules:</label>
            <textarea id = "fSpecial" name = "fSpecial" rows = "5", cols = "30">-</textarea>
        </div>

        <br>
        <h2>Units</h2>
        <!--Submit / Delete Form -->
        <div class = "submitButtonBox">
            <button id = "saveSubmit"   type="button" onclick="submitSaveForm('{% url 'saga:createPush' %}')">Create Faction</button>
        </div>
        <!--Table Container -->
        <div style = "width: 75%; margin: 0 auto;">
            <!--Buttons To Add Units To The Table-->
            <div class = "addButtonBox">
                <!--Buttons will be enabled after data is pulled from the JSON file-->
                <button class = "addButton" type = "button" id = "addHero" onclick = "addUnit('Hero')"> Add Hero</button>
                <button class = "addButton" type = "button" id = "addHearthguard" onclick = "addUnit('Hearthguard')"> Add Hearthguard</button>
                <button class = "addButton" type = "button" id = "addWarrior" onclick = "addUnit('Warrior')"> Add Warrior</button>
                <button class = "addButton" type = "button" id = "addLevy" onclick = "addUnit('Levy')"> Add Levy</button>
            </div>
            <!--Unit Form Fields-->
            <table id = "unitTable">
                <tr>
                    <th>Type</th>
                    <th>Unit</th>
                    <th>Saga Dice</th>
                    <th>Models</th>
                    <th>Equipment Options</th>
                    <th>Armour Melee</th>
                    <th>Armour Ranged</th>
                    <th>Aggression Melee</th>
                    <th>Aggression Ranged</th>
                    <th>Special Rules</th>
                    <th>Legendary?</th>
                    <th>Cost</th>
                </tr>
                <!--Population of Table Data is solely handled by JavaScript-->
            </table>
        </div>
    </form>
</body>

</html>