<!DOCTYPE html>
<!--
Author: Scott Field
Date: 5/24/2024
Version: 1.0
Purpose:
Allow the user to select a faction to view, after which point the faction can be editted or
deleted if the user was the original poster of that faction
-->
<!--index.html-->
<html lang="en">

<head>
    <title>Saga Faction Builder Home Page</title>
    <meta charset="utf-8">
    <meta name = "description" content = "The Saga Faction Builder, is used to build factions for the popular Saga wargame made by Studio Tomahawk.">
</head>

<body>
    <header>
        <h1>Saga Army Builder Home Page</h1>
    </header>

    <p1>Welcome to the Saga Faction Builder.
        <br> click the <b>Create Faction</b> button to develop a new Faction to post to the website
        <br> click the <b>View Faction</b> button to view a Selected Faction, or to View then Edit an Existing Faction posted by you.
        <br> (users can only edit factions they have posted)
    </p1>

    <!--Split Sections-->
    <br><br>

    <!--Form To Display Available Factions-->
    <main>
        {% if factionList %}
        <label>Edit a Faction: </label><button>Create Faction</button>
            <form method = "post" id = "factionForm"> 
                <label for="factionChoice">Select a Faction:</label>
                    <select id="factionChoice" name="faction">
                        {% for faction in factionList %}
                            <option value={{faction.id}}> {{faction.name}} </option>
                        {% endfor %}
                    </select>
                <button type="submit" id = "viewFactionButton">View Faction</button>
            </form>
        {% else %}
            <p>No Factions Available To Edit</p>
        {% endif %}
    </main>
</body>

<script>
        //get form elements
        const factionForm = document.getElementById('factionForm');
        const factionChoice = document.getElementById('factionChoice');
        const viewFactionButton = document.getElementById("viewFactionButton");

        //If the factionForm is present
        if (factionForm) {
          console.log("Form is present");
          //function must be asynchronous
          factionForm.addEventListener('submit', function(event) {
            //prevent the default form submission
            event.preventDefault(); 
          });
        }
        
</script>

</html>
